{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
<h1>Accès refusé</h1>
<p>Vous n'avez pas les droits pour accéder à cette page.</p>
<a href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}
