<div class="container-fluid d-flex justify-content-center align-items-center my-5 cta">
  <div class="card card-body text-center cta-card position-relative">
    <img src="{{ asset('images/goals.png') }}" alt="Illustration CTA" class="cta-img">
    <a href="{{ path('app_feeling') }}" class="btn btn-cta cta-overlay-btn">Commencer</a>
  </div>
</div>