<div class="container-fluid text-center my-5" id="home-en-savoir-plus">
    <h3>Et si tu veux en savoir plus...</h3>
    <p>Découvre comment reconnaître tes émotions, comprendre tes besoins et passer à l'action dans ta vie quotidienne.</p>
</div>

<div class="home-definition-container text-center my-5">
    <img src="{{ asset('images/home-definition.svg') }}" alt="Definitions" class="img-fluid">
</div>
