{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
    <div class="container mx-auto py-8">
        <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
        <p>Ici tu peux rédiger ou importer le contenu de tes Conditions Générales d’Utilisation.</p>
    </div>
{% endblock %}
