{% extends 'base.html.twig' %}

{% block title %}Politique de Cookies{% endblock %}

{% block body %}
    <div class="container mx-auto py-8">
        <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
        <p>Ici tu peux expliquer quels cookies sont utilisés, pourquoi et comment l’utilisateur peut les gérer.</p>
    </div>
{% endblock %}
