.dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.dashboard-title {
    font-weight: bold;           /* gras */
    margin-top: 2.5rem !important; /* force le margin au-dessus */
    margin-bottom: 1.5rem !important; /* force le margin en dessous */
}

.dashboard-avatar-container {
    position: relative;
}

.dashboard-avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.dashboard-avatar-badge {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-30%, 30%);
    cursor: pointer;
}

.dashboard-title {
    margin: 0;
}

.dashboard-btn {
    margin-top: 0.5rem;
}

.dashboard-entity {
    margin-top: 7rem;
}


.user-needs {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 820px) {
    .user-needs {
        max-width: 70%;
    }
}

.user-actions {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 820px) {
    .user-actions {
        max-width: 70%;
    }
}
