<h1>Paiement réussi !</h1>
<p>Merci pour votre achat.</p>

<p> {{ app.user }} </p>


{% if app.user and app.user.userSubscription %}
    <a href="{{ path('app_subscribe_show', {'id': app.user.userSubscription.id}) }}">
        Voir mon abonnement
    </a>
{% else %}
    <a href="{{ path('app_subscribe_main') }}">
        Voir les abonnements
    </a>
{% endif %}
